body {
    margin: 0px auto;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    box-sizing: border-box;

}

.content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

a {
    text-decoration: none;
    color: #202124;
}

footer a {
    color: #70757a;
}

a:hover {
    text-decoration: underline;
}


.navbar {
    display: flex;
    position: relative;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 8px 0px;
}

.moreOption {
    width: 19rem;
    max-height: 350px;
    padding: 20px 40px 0px 20px;

    background-color: #fff;
    box-shadow: 0.1em 0.1em 1.5rem rgb(32 33 36 / 28%);
    position: absolute;
    right: 30px;
    top: 70px;
    z-index: 1;

    border-radius: 0.5rem;
    /* border: 1px solid rgb(112, 117, 122); */
    overflow-x: hidden;
    overflow-y: auto;

    display: grid;
    gap: 1rem;

    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;

    transition: all 0.5s ease;
    display: none;
}

.show {
    display: grid;
    max-height: 22rem;
}


.moreOption>a {
    height: 100px;
    width: 100px;
    padding-top: 10px;
    font-size: 0.7rem;
    text-decoration: none;
    text-align: center;
    font-size: 1.2rem;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.moreoption>a:hover {
    background-color: hsl(198, 72%, 93%);
    border-radius: 10px;
}

/* Dark mode toggle */

/* .toggleon {
    display: none;
} */

.moreOption>a>.track {

    position: relative;

    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 24px;
    width: 50px;
    height: 20px;
}

.moreOption>a>.track>.ball {
    width: 20px;
    height: 10px;
    color: #5f6368;
    border-radius: 50%;

    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

/* Dark mode toggle */

/* sub menu scrollbar */

.moreOption::-webkit-scrollbar {
    width: 0.6rem;
}

.moreOption::-webkit-scrollbar-track {
    background: hsl(120 100% 100% / 1);
    margin-block: 0.4rem;
}

.moreOption::-webkit-scrollbar-thumb {
    background: hsl(0, 6%, 80%);
    border-radius: 100vw;
}


.moreOption::-webkit-scrollbar-thumb:hover {
    background: hsl(0, 3%, 60%);
    border-radius: 100vw;
}

/* sub menu scrollbar */

.hypertop {
    display: inline-block;
    padding: 2px;
    margin: 0 5px;
    color: #202124;
}

.topnav1 {
    display: flex;
    flex-wrap: nowrap;
    padding: 14px 0 0 14px;
    margin: 0 20px;
}


.topnav1:first-of-type {
    margin-left: 2px;
}

.tn2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px 0 0 14px;
    margin-right: 1.5rem;
}


.topnav2 .hypers {
    padding: 5px;
    margin: 0 10px;
}

.topnav2 .hypers2 {
    margin: 0 10px;
    text-decoration: none !important;
    color: #5f6368;
    cursor: pointer;
}

/* hover effect for app */

/* .hypers2 .hypersapp:hover {
    background-color: #cbcdcf;
    height: 35px;
    width: 35px;
    border-radius: 50%;
} */

.avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 35px;
    color: #fff;
    background-color: #b18a8a;
    border-radius: 50%;
    font-weight: 600;
    font-size: 18px;

}

/* hover effect for avatar */

/* .topnav2 .hypers2:hover {
    border-radius: 100px;
    color: #cbcdcf;
} */

main {
    height: auto;
    position: absolute;
    width: 100%;
    top: 250;
}

.maincon {
    width: 100%;
    display: flex;
    justify-content: center;
}

.centerDiv {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.parentsearch {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    width: 30%;
    border: 1px solid #dfe1e5;
    border-radius: 30px;
    padding: 10px 12px;
}

.parentsearch:hover {
    box-shadow: 0px 1px 6px rgb(32 33 36 / 28%);
}



.microphone {
    display: flex;
    gap: 10px;
}

.search {
    width: 25vw;
    padding: 10px;
    border: none;
    outline: none;
}

/* .test {
    display: none;
} */


.but {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.but input {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    margin: 11px 4px;
    padding: 0px 16px;
    height: 36px;
    line-height: 27px;
    font-size: 14px;
    color: #3c4043;
    border-radius: 4px;
}

.but input:hover {
    border: 1px solid rgb(32 33 36 / 28%);
}

footer {
    position: absolute;
    background-color: #f2f2f2;
    bottom: 0;
    width: 100%;
}

.loc {
    padding: 15px 18px;
    border-bottom: 1px solid #dadce0;
    font-size: 18px;
    color: #70757a;
}

.btmnav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.btmnav1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.btmnav2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .hyper {
    color: #70757a;
    display: block;
    padding: 15px;
    white-space: nowrap;
}


@media screen and (max-width:1242px) {
    .parentsearch {
        width: 35%;
    }
}

@media screen and (max-width:790px) {
    .parentsearch {
        width: 45%;
    }
}

@media screen and (max-width:570px) {
    .parentsearch {
        width: 55%;
    }
}